# Render configuration for Order Service
services:
  - type: web
    name: food-fiesta-orders
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 5002
      - key: MONGO_URI
        sync: false
